# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Output of running flutter_ci inside this repository
builds/
coverage/

# OS / editor files
.DS_Store
.idea/
*.iml
